<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.1.min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>

	<script>
		$(function(){
			$(".Delete").click(function(){
				var id=$(this).index();
				if(confirm("Are you sure you want to delete it？"))
				{		
					$.get("__CONTROLLER__/Delete",{id:$(this).attr("id")},function(data){
						if (data=="error") {
							alert("Community information is referenced and cannot be deleted!");
							return;
						}else{
							window.location.href="__CONTROLLER__/index";
						}
					});
					//$(this).parent().parent().empty();		
				}

			});
			$('#addnew').click(function(){
				window.location.href="__CONTROLLER__/add";
	 		});
			
		});
	</script>
</head>
<body >

<form class="form-inline definewidth " action="__CONTROLLER__/index" method="post">  
    Product Name：
    <input type="text" name="title"  class="abc input-default"  value="{$Think.post.title}">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">search</button>&nbsp;&nbsp; 
    <a  class="btn btn-success"  href="__CONTROLLER__/add">New products added</a>
</form>
<table id="table" class="table table-bordered table-hover definewidth m10" >
 
    <tr>
        <th>number</th>
        <th>picture</th>
        <th>Product Name</th>
        <th>Product number</th>
        <th>price</th>
        <th>special offer</th>
        <th>recommend</th>
        <th>state</th>
		<th>operate</th>
    </tr>

	<foreach name="list" item="row">
	     <tr>
            <td>{$row.id}</td>
            <td><img src='__UPLOAD__/{$row.picture}' style="height:60px"/></td>
            <td>{$row.title}</td>
			<td>{$row.item_no}</td>
            <td>{$row.price}</td>
            <td><eq name="row.special" value="0">ordinary<else/><span style="color: #093">special offer</span></eq></td>
            <td><eq name="row.recommend" value="0">Unrecommended<else/><span style="color: #093">recommend</span></eq></td>
            <td><eq name="row.status" value="0">ordinary<else/><span style="color: #ff0000">To be online</span></eq></td>
            <td>
                <a  href="__CONTROLLER__/pinglun/id/{$row.id}">comment</a>
                <a  href="__CONTROLLER__/edit/id/{$row.id}">edit</a>
                <a  class="Delete" href="#" id="{$row.id}">Delete</a>
            </td>	
        </tr>
	</foreach>
		</table>
		<div   class="yahoo2">{$pageStr}</div>
			<br>
		</body>
		</html>

