<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.1.min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>

</head>
<body >

<table id="table" class="table table-bordered table-hover definewidth m10" >
 
    <tr>
        <th>number</th>
        <th>time</th>
        <th>buyer</th>
        <th>comment</th>
    </tr>

	<foreach name="list" item="row">
	     <tr>
            <td width="30">{$row.id}</td>           
            <td width="220">{$row.p_time}</td>
			<td width="220">{$row.member_name}</td>
            <td>{$row.content}</td>
        </tr>
	</foreach>
		</table>
		<div   class="yahoo2">{$pageStr}</div>
			<br>
		</body>
		</html>

