<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.1.min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>

	<script>
		$(function(){
			$(".Delete").click(function(){
				var a=$(this).attr("adminuserid");
				$.get("__CONTROLLER__/Delete",{id:a},function(data){
					if(data=="success"){				
					}
				});
				$(this).parent().parent().empty();
			});
			
			$("a[id^='send_']").click(function(){
				var a=$(this).attr("value");
				$.get("__CONTROLLER__/send",{id:a},function(data){
					
					if(data=="success"){
						alert("Delivery successful！");
						location.href='__CONTROLLER__/index'				
					}
				});

			});


		});
	</script>
</head>
<body style="width:95%">
<form class="form-inline definewidth " action="__CONTROLLER__/index" method="post">  
    Order inquiry：
    <input type="text" name="code" id="code"class="abc input-default" placeholder="" value="{$Think.post.code}">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">search</button>&nbsp;&nbsp; 
</form>
<table id="table" class="table table-bordered table-hover definewidth m10" >

    <tr>
        <th>Order No.</th>
   		<th>purchaser</th>
        <th>Delivery address</th>
        <th>Actually paid money</th>
		<th>Order time</th>
        <th>Status</th>
		<th>operate</th>
    </tr>
 
	<foreach name="list" item="row">
	<tr>
	
    <td>{$row.code}</td>
    <td>{$row.mem_name}</td>
    <td>{$row.address}</td>

    <td>{$row.money_reality}$</td>
        <td >{$row.datetime}</td>
    <td>
      
		    
    <if condition="($row.status eq 0) AND ($row.pay_way neq 2)">
    obligation
    <elseif condition="($row.status eq 0) AND ($row.pay_way eq 2)" />
    To be shipped[cash on delivery]
    <elseif condition="$row.status eq 1" />
    To be shipped[Paid]
    <elseif condition="$row.status eq 2" />
    Shipped
      <elseif condition="$row.status eq 3" />
    Order completed
      <elseif condition="$row.status eq 4" />
      Return request in progress...
      <elseif condition="$row.status eq 5" />
      Return successful！
      <elseif condition="$row.status eq 6" />
      Return failed
   
    </if>

	
	<!--已确认,Paid,未发货-->
	
	
	
	
	</td>
    <td align="center" valign="top" nowrap="nowrap" style="background-color: rgb(255, 255, 255);">
     <a href="info/id/{$row.id}">view</a>
     	<if condition="(($row.status eq 0) AND ($row.pay_way eq 2)) or $row.status eq 1" >
				<a href="#" id="send_{$key}" value="{$row.id}" >Confirm shipment</a>
     
        </if>
         </td>
  </tr>
  </foreach>
</table>
<div style="float:right;" id="page" class="yahoo2">{$pagestr}</div>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tbody></tbody></table>

  </div>

</form>
 <div style="margin-left:400px; width:1200px;" class="digg">{$page}</div>


<br/>
<br/><br/>
</body>
  
  </html>
