<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.1.min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>

	<link href="__PUBLIC__/Css/css.css" rel="stylesheet" type="text/css">
	<script>
	$(function(){
		$("#view_way").change(function(){
			location.href='__CONTROLLER__/'+$(this).val()+"/member_id/"+$("#member_id").val();
		});
	});
	</script>
</head>
<body >
<form class="form-inline definewidth " action="__CONTROLLER__/index" method="post">
	<input type="hidden" name="member_id" id="member_id" value="{$Think.get.member_id}"/>
    The current member：<php> echo M("member")->where("id=".$_GET['member_id'])->getField("name");</php>
   &nbsp;&nbsp;  
   <select name="view_way" id="view_way">
    <option value="mem_bill">View order</option>
    <option value="mem_balance" >View  details</option>
    <option value="mem_address" selected>viewDelivery address</option>
    <option value="mem_refund">View order return</option>       
	</select>
            &nbsp;&nbsp; 
    <a  class="btn btn-success"  href="__CONTROLLER__/index">Return list</a>
</form>
<table  class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>

        <th>phone</th>
        <th>zip code</th>
        <th>city</th>
		<th>address</th>
		<th>consignee</th>
		
    </tr>
    </thead>
	<foreach name="list" item="row">
	     <tr>		 
            <td>{$row.phone}</td>
			<td>{$row.zipcode}</td>
            <td>{$row.city}</td>
			<td>{$row.address}</td>
			<td>{$row.name}</td>
		 </tr>	
			
	</foreach>
			
       </table>		<div   class="yahoo2">{$pageStr}</div>
		</body>
		</html>